body {background: margin:0;
padding:0;}

/* ODIN È A DIV QUE ESTA EM VOLTA DA DIV MAIN. ELE È O "PAI DE TODOS"*/

.odin {display:flex;
justify-content: center;
margin-top: 32px;}

/* MAIN È A DIV QUE COMPOE O CARD EM SI*/

.main {background: black;
width: 900px;
height:550px;
display:flex;
flex-direction: row;
webkit-box-shadow: 0px 0px 8px 2px #000000;
moz-box-shadow: 0px 0px 8px 2px #000000;
box-shadow: 0px 0px 9px 2px darkgrey;}

/* AQUI COMEÇA O CSS DA DIV ONE (ROXA)*/

.one {background: blueviolet;;
width: 45%;
height: 100%;}

.one h1, p {text-align: center;
color: black;}

.one h1{margin-top: 220px;}

/* AQUI COMEÇA O CSS DA DIV TWO (PRETA)*/

.two {width: 55%;
height:100%;
border: 1px solid white;
background: black;}

.two h2 {color:white;
    text-align: center;}

.two a {text-decoration: none;
color: white;}

.two p {text-align: right;
margin-right: 20px;}

form  {width: 100%;
height: 449px;
display: flex;
flex-flow: row wrap;
justify-content: space-around;

background:  black;}

label {display:block;
text-align: center;
color:white}

input {border: 1px solid;
margin-top: 10px;}

.grande {width: 300px;
margin-left: 19px;}

.bloco1 {width: 36%;
height: 20%;
margin-left: 30px;
background: black;}

.bloco2 {width: 36%;
height: 20%;
background: black;}

.bloco3 {width:70%;
    height: 20%;
    margin-bottom: 280px;
    background:  black;}
    

